name: Main CI/CD Pipeline
on:
  - push
  - pull_request:
      branches:
        - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: 'Validate DAGs'
        uses: ./
        with:
          requirementsFile: tests/requirements.txt
          dagPaths: tests/dags
          varFile: tests/var.json
          accessToken: ${{ secrets.GITHUB_TOKEN }}
